// Colors
// -------------------------------

$kinvey: #e2734f;

// Buttons
// -------------------------------

$button-kinvey-bg:                $kinvey !default;
$button-kinvey-text:              #fff !default;
$button-kinvey-border:            #c1481f !default;
$button-kinvey-active-bg:         #e0663e !default;
$button-kinvey-active-border:     #c1481f !default;

// Bars
// -------------------------------

$bar-kinvey-bg:                   rgba($button-kinvey-bg, $bar-transparency) !default;
$bar-kinvey-text:                 $button-kinvey-text !default;
$bar-kinvey-border:               $button-kinvey-border !default;
$bar-kinvey-active-bg:            $button-kinvey-active-bg !default;
$bar-kinvey-active-border:        $button-kinvey-active-border !default;

// Icons
// -------------------------------

$icon-kinvey-text:                $kinvey;

// Posts
// -------------------------------

$post-name-text:                  #999;
