<ion-view view-title="Kinvey Ionic Starter" hide-back-button="true">
  <ion-content class="padding-top">
    <div class="list text-center padding">
      <h1>Welcome to the Kinvey Ionic Starter App</h1>
      <p class="padding-top">
        This app provides a starting place to build the most amazing mobile apps using Kinvey as your mobile backend as a service (mBaas) and Ionic as your UI Framework. We look forward to seeing what you build.
      </p>
      <button class="button button-clear button-kinvey" ng-click="vm.getStarted()">Get Started</button>
    </div>
  </ion-content>
</ion-view>
